#itemCon {
    position: absolute;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    position: absolute;
}
.itemGlow {
    z-index: 1;
    opacity: 0;
}

.null {
    width: 0;
    height: 0;
}

.flashlight {
    bottom: 34%;
    left: 33%;
}
.flashlightImg {
    width: 60px;
}
.flashlightGlow {
    width: 62px;
}

.guardsHelmet {
    bottom: 34.4%;
    left: 50%;
}
.guardsHelmetImg {
    width: 66.5px;
}
.guardsHelmetGlow {
    width: 68.5px;
}

.revolver {
    left: 45%;
    bottom: 48%;
}


@font-face {
    font-family: montserrat;
    src: url('/fonts/Montserrat.ttf');
}

.descriptionCon {
    position: absolute;
    align-items: center;
    height: 399.98px;
    width: 620.250px;
    z-index: -1;
    display: flex;
    pointer-events: none;
}

.SVG {
    position: absolute;
}

.textCon {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 270px;
    align-items: center;
}

.LeftUp {
    left: 75px;
}
.LeftDown {
    left: 90px;
}
.RightUp {
    left: 250px;
    top: 125px;
}
// .RightDown {

// }



.text {
    text-overflow: clip;
    text-align: center;
}

.heading {
    font-size: xx-large;
    margin-bottom: 10px;
}

.text {
    font-size: larger;
}

p {
    font-family: montserrat;
    color: white;
}